<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <!-- jqeuy默认的css样式 -->
    <link rel="stylesheet" type="text/css" href="../js/easyui/themes/default/easyui.css">

    <link rel="stylesheet" type="text/css" href="../js/easyui/themes/icon.css">

    <!-- 这是jquery的核心包  -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <!-- 这是easyui的核心包  -->
    <script type="text/javascript" src="../js/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../js/util-js.js"></script>
    <script type="text/javascript" src="../js/easyui/locale/easyui-lang-zh_CN.js"></script>

</head>

<body>


<div id="cc" class="easyui-layout" fit=true>
    <div data-options="region:'west',title:'West',split:true" style="width:200px;">
        <ul id="tree-ul"></ul>
    </div>
    <div data-options="region:'center',title:'center title'" style="padding:5px;background:#eee;">
        <div id="tabs-div" class="easyui-tabs" fit=true>
            <div title="首页" style="padding:20px;display:none;">

            </div>
        </div>
    </div>
</div>
<table id="dg"></table>
</body>
<script>
    $(function(){
        $("#tree-ul").tree({
            url:"http://127.0.0.1:8080/queryTree",
            //节点的点击事件，node代表当前点击的节点对象
            onClick: function(node){
                //alert(node.text);  // 在用户点击的时候提示

                if(node.url != ""){

// 				点击树节点时，添加选项卡的标签页   涉及到tabs组件的三个方法：exists、select、add

// 				判断该标签页是否已经存在_使用exists方法 根据标题进行判断
                    if($("#tabs-div").tabs("exists",node.text)){
// 					如果已经存在————选中该标签页——————使用select方法 根据标题选中
                        $("#tabs-div").tabs("select",node.text)
                    }else{
//	 				没有存在时——添加该标签页
                        $("#tabs-div").tabs("add",{
                            closable:true,
                            title:node.text,
                            href:"http://127.0.0.1:8080/"+node.url
                        })
                    }
                }
            }
        })
    })

</script>
</html>