<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 这是jquery的核心包  -->
    <script type="text/javascript" src="../jquery.min.js"></script>
    <script src="../highcharts/code/highcharts.js"></script>
    <script src="../highcharts/code/modules/exporting.js"></script>
    <script src="../highcharts/code/modules/export-data.js"></script>

</head>
<body>
<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<div id="queryzhou" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
</body>
<script>
    $(function () {
        $.ajax({
            url:"../queryBing",
            type:"post",
            dataType:"json",
            success:function (data) {
                Highcharts.chart('container', {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    title: {
                        text: '权限信息'
                    },
                    tooltip: {
                        pointFormat: '{series.y}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b> 月<b>{point.y}</b>辆',
                                /*format: '<b>{point.y}</b> ',*/
                            }
                        }
                    },
                    series: [{
                        name: 'Brands',
                        colorByPoint: true,
                        data: data
                    }]
                });
            },error:function () {
                alert("查询失败")
            }
        })
    })


//--------------------------------------------节点图------------------------------------------------

    $(function () {
        $.ajax({
            url:"../queryZhou",
            type:"post",
            dataType:"json",
            async:true,
            success:function (data) {
                var xtext = [];//X轴TEXT
                var nums = [];//y轴数量
                for (var i=0;i<data.length;i++){
                    nums.push(data[i].count);
                    xtext.push(data[i].time);
                }
                var chart = Highcharts.chart('queryzhou', {
                    title: {
                        text: '每一周的车辆销售情况'
                    },
                    yAxis: {
                        title: {
                            text: '销售数量'
                        }
                    },

                    xAxis: {
                        categories: xtext,
                        crosshair: true

                    },
                    series: [{
                        name:"数据",
                        data:nums
                    }]

                });
            }


        });
    readLine(xtext,nums);
    })


</script>
</html>